.main {
  max-height: 580px;
}

.car {
  width: 110px;
  height: 50px;
  font-size: 10px;
  margin-bottom: 5px;

  &__name {
    color: #fff;
  }

  &__icon {
    width: 100%;
    height: 57px;
    transition: translate 0.5s linear;
  }

  &__action {
    position: absolute;
    top: -2px;
    left: 10px;
    display: flex;
  }
}

.racing {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 80px;

  &__slider {
    margin: 0 15px;
    padding-bottom: 5px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 98%;
    left: 10px;
    bottom: 15px;
    height: 2px;
    background: #dadaff;
  }

  &__block-reload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    padding: 8px;
    background: #ffffffc9;
    margin: 0 auto;
    width: 60%;
    border-radius: 25px;
    min-height: 140px;
    box-shadow: 0 0 10px #ffffff;
    border: 2px solid #226ed1;
    @media (max-width:568px) {
      width: 90%;
    }

  }

  &__error {
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    max-width: 220px;
    color: #ff0a0a;
    margin: 22px auto 0;
    text-align: center;

    @media (max-width: 430px) {
      font-size: 24px;
    }

    &-text {
      display: block;
      margin: 0 auto;
      font-size: 22px;
      color: #000000;
      text-decoration: underline;
      width: 90%;
      text-align: center;

      @media (max-width: 430px) {
        font-size: 18px;
      }
    }
    &-btn {
      padding: 10px 8px;
      font-size: 18px;
      background: #226ed1;
      color: #ffffff;
      border: 2px solid #ffffff;
      box-shadow: 0 0 10px #226ed1;
      text-transform: uppercase;
      border-radius: 6px;
      transition: box-shadow .3s linear, background .3s linear;

      &:hover {
        box-shadow: 0 0 10px #000000;
        background: #000;
      }
    }
  }
}

.btn__delete,
.btn__select {
  font-size: 12px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  border-radius: 5px;
  background: #f8c847;
  color: #071961;
  font-weight: bold;
  transition: background 0.2s linear, box-shadow 0.2s linear, color 0.2s linear;
  &:hover {
    box-shadow: 0 0 5px #fff;
    background: #dadaff;
    color: #000000;
  }
}
