.form {
  display: flex;
  max-width: 394px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 450px) {
    max-width: 300px;
    justify-content: center;
    gap: 5px;
  }

  &__name {
    margin-right: 10px;
    margin-left: 15px;
    width: 195px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    height: 35px;
    border: 2px solid #3647df;

    @media (max-width: 450px) {
      width: 100%;
    }

    &:focus {
      box-shadow: 0 0 10px #fffb05;
    }
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  &__btn-racing--cars {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.btn__create-car,
.btn__update-car,
.btn__race-all--car,
.btn__reset-all--car,
.btn__create-all--car {
  font-size: 14px;
  margin-left: 7px;
  padding: 10px;
  width: 110px;
  font-weight: bold;
  background: #226ed1;
  color: #ffffff;
  border: 1px solid #e0dfe7;
  transition: background 0.2s linear, box-shadow 0.2s linear, color 0.2s linear;

  &:hover {
    box-shadow: 0 0 10px #fff;
    color: #fff;
    background: #383535;
  }

  &:disabled {
    background: #383535;
    pointer-events: none;
  }
}
